{
    "ABSOLUTE_DATASETS_PATH": "/home/docker/fs1/Deep_Learning/Datasets/acc_counter/test_jpg",
    "DATASET_FOLDER": "augmented",
    "DATASET_IDENTIFIER": "",
    "IMAGE_FOLDER_NAME": "images",
    "ANNOTAION_FOLDERNAME": "annotations",
    "IMAGE_EXTENSION": "png",
    "TEST_CLASSES": ["bc"],
    "CAFFE_EXECUTION_COUNT":0,
    "PROJECT_NAME": "acc_counter_experiment_3",
    "TEST_SET_PERCENTAGE": 5,
    "ABSOLUTE_PATH_NETWORK": "/home/docker/ahmed/projects/IIS_Object_Detection/template/MobileNet-SSD",
    "PRETRAINED_NETWORK_FILE": "mobilenet_iter_73000.caffemodel",
    "ABSOLUTE_OUTPUT_PROJECT_PATH": "/home/docker/ahmed/projects/IIS_Object_Detection/project_dir/",
    "PATH_TO_CONVERT_ANNOSET_DOT_EXE": "/opt/caffe/build/tools/convert_annoset",
    "PATH_TO_GET_IMAGE_SIZE_DOT_EXE": "/opt/caffe/build/tools/get_image_size",
    "PATH_TO_CAFFE_DOT_EXE": "/opt/caffe/build/tools/caffe",
    "CONTINUE_TRAINING": false
}
