{
    "ABSOLUTE_DATASETS_PATH": "dataset",
    "DATASET_FODLER": "",
    "DATASET_IDENTIFIER": "",
    "IMAGE_FOLDER_NAME": "Images",
    "ANNOTAION_FOLDERNAME": "Annotations",
    "IMAGE_EXTENSION": "png",
    "TEST_CLASSES": ["QR"],
    "PROJECT_NAME": "some_project_1",
    "TEST_SET_PERCENTAGE": 10,
    "ABSOLUTE_PATH_NETWORK": "template\\MobileNet-SSD",
    "PRETRAINED_NETWORK_FILE": "mobilenet_iter_73000.caffemodel",
    "ABSOLUTE_OUTPUT_PROJECT_PATH": "here",
    "PATH_TO_CONVERT_ANNOSET_DOT_EXE": "C:\\Git\\MobileNet-SSD-windows\\scripts\\build\\tools\\Release\\convert_annoset.exe",
    "PATH_TO_GET_IMAGE_SIZE_DOT_EXE": "C:\\Git\\MobileNet-SSD-windows\\scripts\\build\\tools\\Release\\get_image_size.exe",
    "PATH_TO_CAFFE_DOT_EXE": "C:\\Git\\MobileNet-SSD-windows\\scripts\\build\\tools\\Release\\caffe.exe",
    "CONTINUE_TRAINING": false,
    "CAFFE_EXECUTION_COUNT":0,
}
