{
    "ABSOLUTE_DATASETS_PATH": "/home/docker/voc/VOCdevkit/VOC2007",
    "DATASET_FOLDER_RM": "",
    "DATASET_IDENTIFIER_RM": "",
    "IMAGE_FOLDER_NAME": "JPEGImages",
    "ANNOTAION_FOLDERNAME": "Annotations",
    "IMAGE_EXTENSION": "jpg",
    "TEST_CLASSES": [
        "aeroplane",
        "bicycle",
        "bird",
        "boat",
        "bottle",
        "bus",
        "car",
        "cat",
        "chair",
        "cow",
        "diningtable",
        "dog",
        "horse",
        "motorbike",
        "person",
        "pottedplant",
        "sheep",
        "sofa",
        "train",
        "tvmonitor"
    ],
    "CAFFE_EXECUTION_COUNT":0,
    "PROJECT_NAME": "some_linux_project_6",
    "TEST_SET_PERCENTAGE": 10,
    "ABSOLUTE_PATH_NETWORK": "/home/docker/work/210217_caffe/caffe_ssd/template/MobileNet-SSD",
    "PRETRAINED_NETWORK_FILE": "mobilenet_iter_73000.caffemodel",
    "ABSOLUTE_OUTPUT_PROJECT_PATH": "/home/docker/dorker_proj/",
    "PATH_TO_CONVERT_ANNOSET_DOT_EXE": "/opt/caffe/build/tools/convert_annoset",
    "PATH_TO_GET_IMAGE_SIZE_DOT_EXE": "/opt/caffe/build/tools/get_image_size",
    "PATH_TO_CAFFE_DOT_EXE": "/opt/caffe/build/tools/caffe",
    "CONTINUE_TRAINING": false
}
