#!/bin/bash

# [1] Define your configureations
#CAFFE_ROOT=/opt/caffe  # Do not need this for the new docker image 
DATA_DIR="$HOME/dixu/Datasets/QRData/test" #augmentated
IMAGE_FORMAT='.png'     # Only one format is allowed for all images
TEST_SET_PERCENTAGE=15  # percentage of all images that goes to test set, the rest will go to trainval set
script_folder_name="qr_new3" # used in create_data.sh 
CLASSNUM=2  # The number of classes in your dataset. It is also reflected in "labelmap.prototxt" # In the case of the QR code example, there are 2 classes, background and QR. So CLASSNUM is 2.


#cd template
#./run.sh
