#!/bin/bash

# Define your configurations
DATA_DIR="$HOME/Datasets/QRData/augmented" #augmentated
IMAGE_FORMAT='.png'     # Only one format is allowed for all images
TEST_SET_PERCENTAGE=15  # percentage of all images that goes to test set, the rest will go to trainval set
PROJECT_NAME="qr" # A folder with this name will be created under 'caffe_ssd' with files related to this project stored there. 
CLASSNUM=2  # The number of classes in your dataset. It is also reflected in "labelmap.prototxt" # In the case of the QR code example, there are 2 classes, background and QR. So CLASSNUM is 2.
CLASSES="QR"  # comma separated class names, other than the first background class

